.github/**
.vscode/**
docs/**
test/**
.vscode-test/**
out/test/**
src/**
.idea/
packages/**
.gitignore
eslint.config.mjs
index.html
package-lock.json
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/
*.vsix
build.js
backlog.md
bun.lock
yarn.lock
pnpm-lock.yaml
pnpm-workspace.yaml
